body{
	margin:0 auto;
	background-color: #eaeaea;
}

.header{
	width:100%;
	height:0;
	padding-bottom: 50%;
	background-color: #fff;
	background:url("../images/contact.jpeg");
	background-size: cover;
	margin-top:0;
}

.title_section{
	width:16rem;
	height:30rem;
	margin-top: 5rem;
	margin-left: 5rem;
	padding: 2rem;
	background-color: #fff;
}

.title_section h1{
	letter-spacing: 1rem;
	font-size:3rem;
	margin-bottom: 3rem;
}

.title_section p{
	font-size:1rem;
	padding: 1.5rem 0;
}
.icon{
	padding-right: 1rem;
}

.link{
	color: #076be7;
	margin-right:2rem;
	font-size:1.5rem;
	margin-top:2rem;
}

.contact_wrapper{
	text-align: center;
	font-size: 1.5rem;
	margin:0 100px;
}

.contact_wrapper h2{
	border-bottom: 1px solid black;
	padding: 25px;
}

.fa-map-marker-alt{
	color:red;
}

.fa-envelope{
	color:lightgrey;
}

.fa-github{
	color:black;
}

.fa-twitter{
	color: #5da6ff;
}


nav{
	display: flex;
	align-items: center;
	min-height: 10%;
	justify-content: flex-end;
}

.nav-list{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin:0;
	padding:15px 0 10px;
	border-bottom: 1px solid white;
}

.nav-list li{
	list-style: none;
	font-size: .9rem;
}
.nav-list a{
	letter-spacing: 3px;
	text-decoration: none;
	color: black;
	font-weight: 600;
	text-transform: uppercase;
}

.burger{
	cursor: pointer;
	display: none;
}

.burger div{
	width:25px;
	height: 2px;
	background-color:black;
	margin:5px;
	transition: all 0.3s ease; 
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}


@media(max-width:768px){
	.title_section{
		width:16rem;
		height: 30rem;
	}
	.title_section p, a{
		font-size: 1rem;
	}

	body{
		overflow-x: hidden;
	}

	.nav-list{
		position:absolute;
		right: 1px;
		top:5%;
		height: 95vh;
		background-color: white;
		z-index: 1000;
		width:40%;
		flex-direction: column;
		align-items: center;
		padding-left: 1px;
		transform: translateX(101%);
		transition: transform 0.7s ease-in;
	}
	.burger{
		display: block;
	}

	.nav-list a{
		color: black;
	}

	.nav-active{
		transform: translateX(0%);
	}
}

@media(max-width: 425px){
	.title_section{
		width:70%;
		height: 23rem;
		margin:0 auto;
	}
	.title_section p{
		font-size: 1rem;
		padding: .8rem;
	}

	.title_section h2{
		font-size:1.4rem;
	}

	.header ul {
		margin-right: 10px;
	} 

	.header ul li{
		display: block;
	}

	.header ul li a{
		font-size: 1rem;
	}

}

@media(max-width: 375px){
	.title_section{
		width:80%;
	}
}