body{
	font-size:1rem;
	width: 100%;
	margin:0 auto;
	font-family: "arial";
	background:#f7f7f7;
}

a{
	text-decoration: none;
}

.header{
	width:100%;
	height:100vh;
	background-color: #fff;
	background:url("../images/contact.jpeg");
	background-size: cover;
	margin-top:0;
}

.header ul{
	margin-top:0;
	font-size:1rem;
	text-align: right;
	margin-right:8rem;
	padding-top:1.5rem;
}

.header ul li{
	display: inline-block;
	margin-left:2rem;
}

.header ul li a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

.title_section{
	width:15rem;
	height:25rem;
	margin-top: 10rem;
	margin-left: 5rem;
	padding: 2rem;
	background-color: #fff;
}

.title_section h1{
	letter-spacing: 1rem;
	font-size:3rem;
	margin-bottom: 3rem;
}

.title_section p{
	font-size:1rem;
	padding: 1.5rem 0;
}
.icon{
	padding-right: 1rem;
}

.link{
	color: #076be7;
	margin-right:2rem;
	font-size:1.5rem;
	margin-top:2rem;
}

.contact_wrapper{
	text-align: center;
	font-size: 1.5rem;
	margin:0 100px;
}

.contact_wrapper h2{
	border-bottom: 1px solid black;
	padding: 25px;
}

.fa-map-marker-alt{
	color:red;
}

.fa-envelope{
	color:lightgrey;
}

.fa-github{
	color:black;
}

.fa-twitter{
	color: #5da6ff;
}

@media(max-width:768px){
	.title_section{
		width:25rem;
		height: 35rem;
	}
	.title_section p, a{
		font-size: 1.4rem;
	}
}

@media(max-width: 425px){
	.title_section{
		width:70%;
		height: 23rem;
		margin:0 auto;
	}
	.title_section p{
		font-size: 1rem;
		padding: .8rem;
	}

	.title_section h2{
		font-size:1.4rem;
	}

	.header ul {
		margin-right: 10px;
	} 

	.header ul li{
		display: block;
	}

	.header ul li a{
		font-size: 1rem;
	}

}

@media(max-width: 375px){
	.title_section{
		width:80%;
	}
}