*{
	box-sizing: border-box;
}

body{
	font-size:1rem;
	width: 100%;
	margin:0 auto;
	font-family: "arial";
	background:#f7f7f7;
}

.project_name{
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

#name{
	letter-spacing: 10px;
}

.header{
	width:100%;
	height: 0;
	padding-bottom: 50%;
	background:lightblue;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top:0;
	background-position: bottom;
}

nav{
	display: flex;
	align-items: center;
	min-height: 10%;
	justify-content: flex-end;
}

.nav-list{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin:0;
	padding:15px 0 10px;
	border-bottom: 1px solid white;
}

.nav-list li{
	list-style: none;
	font-size: .9rem;
}
.nav-list a{
	letter-spacing: 3px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

.burger{
	cursor: pointer;
	display: none;
}

.burger div{
	width:25px;
	height: 2px;
	background-color:white;
	margin:5px;
	transition: all 0.3s ease; 
}

.toggle .line1{
		transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
		opacity: 0;
}

.toggle .line3{
		transform: rotate(45deg) translate(-5px, -6px);
	}

.avatar{
	width:40%;
	border-radius: 50%;
	margin-bottom: 5%;
}

.project_image{
	position:relative;
	width:100%;
	height: auto;
	border:5px solid black;
	border-radius: 2px;
}

.main_image{
	width: 100%;
	position: absolute;
	top:-15%;
}

.image_work{
	position:relative;
}

.profile_content{
	margin:10%;
}

.wrapper{
	text-align: center;
	margin-top:30px;
}

.sub_img{
	width: 100%;
	height: auto;
}

article{
	margin-top: 50px;
}

p{
	line-height: 3em;
	color:#595757;
}

h5{
	margin-top:4em;
	font-weight: 550;
}

.sub_img_right{
	margin-left:50px;
}

.tech_content{
	display: inline;
}

.tech{
	margin:20px 0;
}

.title_section{
	width:20rem;
	height:15rem;
	color:lightgrey;
	margin-top:30rem;
	margin-left:5rem;
	margin-bottom:3rem;
	font-size:1.8rem;
	letter-spacing: 10px;
}

.title_section h1{
	letter-spacing: 1.4rem;
    border-left: 10px solid orange;
    padding-left: 1rem;
}

.project-container{
	margin:5% 15%;
}


@media (max-width:1024px){
	.header{
		padding-bottom: 45%;
	}
	.avatar{
		width: 30%;
	}
	.image_section{
		width:10rem;
	}

	.image_container p{
		font-size: 1em;
		line-height: 1.4em;
	}
	.profile_content{
		margin-top:5%;
	}

	.project-container{
		margin:0 15%;
	}
}

@media(max-width: 768px){

	body{
		overflow-x: hidden;
	}

	.nav-list{
		position:absolute;
		right: 1px;
		top:5%;
		height: 90vh;
		background-color: white;
		z-index: 1000;
		width:40%;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.7s ease-in;
	}

	.nav-list a{
		color: black;
	}
	.burger{
		display: block;
	}

	.nav-active{
		transform: translateX(0%);
	}

	.header{
		padding-bottom: 50%;
	}

	.profile_content{
		margin-top:0 !important;
	}

	.profile_image_section{
		width:7rem;
		height: 7rem;
	}

	.image_container h1{
		font-size:2rem;
	}

	.image_container h2{
		font-size:1.5rem;
	}

	.image_work{
		display: none;
	}

	.sub1{
		width: 100%;
	}

	.sub2{
		width:100%;
	}

	.sub_img_right{
		margin-left: 0;
	}
	.project-container{
		margin:7%;
	}
}

@media(max-width:425px){


	.nav-list{
		width: 100%;
	}

	.header{
		padding-bottom: 60%;
	}

	.image_work{
		display: none;
	}

	.image_container h1 {
		font-size: 1.5rem;
	}
	.image_container h2{
		font-size: 1.2rem;
	}
	.image_container p{
		font-size: 1rem;
		line-height: 1.3rem;
	}
	article p{
		line-height: 1.4rem;
		font-size: .9rem;
	}

	.tech h5{
		margin-top:20px;
		font-size: 1rem;
	}
	.tech ul li{
		font-size: .8rem;
	}

	.sub1{
		width: 50%;
		display: block;
		margin:auto;
	}
}



