body{
	font-size:1rem;
	width: 100%;
	margin:0 auto;
	font-family: "arial";
	background:#f7f7f7;
}

a{
	text-decoration: none;
}

.header{
	width:100%;
	height:90vh;
	background-image: linear-gradient(to right bottom, 
		rgba(35, 40, 46, 0.5), 
		rgba(8, 31, 59, 0.5)), 
		url("../images/portfolio.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top:0;
	background-position: bottom;
}

.header ul{
	margin-top:0;
	font-size:1rem;
	text-align: right;
	margin-right:8rem;
	padding-top:1.5rem;
}

.header ul li{
	display: inline-block;
	margin-left:2rem;
}

.header ul li a{
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}

.header ul li a{
	color:white;
}


.project_image{
	width:100%;
	height: auto;
	border:5px solid black;
	border-radius: 2px;
}

.row{
	margin: 10px 150px;
}

.wrapper{
	text-align: center;
	margin-top:30px;
}

.sub_img{
	width: 100%;
	height: auto;
}

article{
	margin-top: 50px;
}

p{
	line-height: 40px
}

h5{
	margin-top:60px;
	font-weight: 550;
}

.doc_link{
	float:right;
}
.doc_link::after{
	content: "";
	clear: both;
}

/*.sub_div:hover{
	content:"";
	background-color: blue;
	display: block;
	width: 200px;
	height: 200px;
	z-index: 1000;
	opacity: 1;
}*/

.sub_img_right{
	margin-left:50px;
}

.tech_content{
	display: inline;
}

.tech{
	margin:20px 0;
}

.title_section{
	width:20rem;
	height:15rem;
	color:lightgrey;
	margin-top:30rem;
	margin-left:5rem;
	margin-bottom:3rem;
	font-size:1.8rem;
	letter-spacing: 10px;
}

.title_section h1{
	letter-spacing: 1.4rem;
    border-left: 10px solid orange;
    padding-left: 1rem;
}




