body{
	font-size:1rem;
	width: 100%;
	margin:0 auto;
	font-family: "arial";
	background:#f7f7f7;
}

a{
	text-decoration: none;
}

#name{
	letter-spacing: 10px;
}

.header{
	height:90vh;
	background:lightblue;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top:0;
	background-position: bottom;
}

.header ul{
	margin-top:0;
	font-size:1rem;
	text-align: right;
	margin-right:8rem;
	padding-top:1.5rem;
}

.header ul li{
	display: inline-block;
	margin-left:2rem;
}

.header ul li a{
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}

.header ul li a{
	color:white;
}

.profile_image_section{
	width:10rem;
	height:10rem;
	background: url("../images/profile.jpeg");
	background-position:370% 100%;	
	border-radius: 50%;
	background-size: cover;
	margin-bottom: 1rem;
}

.project_image{
	width:100%;
	height: auto;
	border:5px solid black;
	border-radius: 2px;
}

.image_work{
	width: 30rem;
	height: 20rem;
	background: url("../images/workspace2.png"); 
	background-size: cover;
	background-position: center;
}

.row{
	margin: 10px 150px;
}

.wrapper{
	text-align: center;
	margin-top:30px;
}

.sub_img{
	width: 100%;
	height: auto;
}

article{
	margin-top: 50px;
}

p{
	line-height: 40px
}

h5{
	margin-top:60px;
	font-weight: 550;
}

.doc_link{
	float:right;
}
.doc_link::after{
	content: "";
	clear: both;
}

/*.sub_div:hover{
	content:"";
	background-color: blue;
	display: block;
	width: 200px;
	height: 200px;
	z-index: 1000;
	opacity: 1;
}*/

.sub_img_right{
	margin-left:50px;
}

.tech_content{
	display: inline;
}

.tech{
	margin:20px 0;
}

.title_section{
	width:20rem;
	height:15rem;
	color:lightgrey;
	margin-top:30rem;
	margin-left:5rem;
	margin-bottom:3rem;
	font-size:1.8rem;
	letter-spacing: 10px;
}

.title_section h1{
	letter-spacing: 1.4rem;
    border-left: 10px solid orange;
    padding-left: 1rem;
}


@media (max-width:1024px){
	.image_work{
		display: block;
	}
}

@media(max-width: 768px){

	.header{
		height: 40vh;
	}

	.profile_content{
		margin-top:0 !important;
	}

	.profile_image_section{
		width:7rem;
		height: 7rem;
	}

	.image_container h1{
		font-size:2rem;
	}

	.image_container h2{
		font-size:1.5rem;
	}

	.image_work{
		display: none;
	}

	.row{
		margin:30px;
	}

	.sub1{
		width: 100%
	}

	.sub2{
		width:100%;
	}

	.sub_img_right{
		margin-left: 0;
		margin-top:3rem;
	}
}

@media(max-width:425px){

	.header{
		height: 50vh;
	}

	.image_work{
		display: block;
	}
}



