body{
	margin:0 auto;
	font-family: 'helvetica';
	font-size:.7rem;
	background: black;
}

nav{
	background-color:#000205;
	height:3rem;
	padding-top:.2rem;
}

nav ul li{
	list-style-type: none;
	display: inline;
	margin-left:5px;
}

nav ul li a{
	text-decoration: none;
	color:#dcdee2;
	font-size:1rem;
}

nav ul li a:hover{
	color:#2a965e;
}
nav ul{
	padding-left:10px;
}

ul li{
	list-style-type: none;
}

.container{
	margin:5px;
	background: #fcfcfc;
}

.avatar{
	width:100%;
	height:10rem;
}

.avatar_image{
	width:100%;
	height: auto;
}

.summary_container{
	width:100%;
	height:8rem;
	padding-top:1rem;
	font-size:1.2rem;
	text-align: center;
}

.summary_container ul{
	padding:0;
	margin-top:1rem;
}
#coder_title{
	color:#551f9b;
	font-size:1.3rem;
	font-weight:700;
}


.section{
	margin-left:.5rem;
}

.about{
	width:100%;
	height:8rem;
	background-image:url("https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
	background-size: cover;
	background-position: center; 
}

.about_content{
	width:100%;
	height:23rem;
}

ul{
	padding: 0 .5rem;
}

.portfolio{
	width:100%;
	height:59rem;
}


.project{
	width:100%;
	height:8rem;
	background-position: center;
	background-size:cover; 
}

.project_img1{
	background-image:url("../images/movie.png");
}


.project_img2{
	background-image:url("../images/book_exchange.png");
	background-position: top;
}

.project_img3{
	background-image:url("../images/memory_game.png") 
}

#resume{
	color:blue;
}

.myskills{
	width:100%;
	height:10rem;
}

.tools{
	padding-top:1rem;
	font-style: italic;
}

footer{
	width:100%;
	height:3rem;
}

footer nav ul li, footer nav ul li a{
	color:grey;
	font-size:.7rem;
}

@media(min-width:375px){
	body{
		font-size:.8rem;
	}
	.avatar{
		width:100%;
		height:14rem;
	}
	.summary_container{
		height:6rem;
	}

	.project{
		height:11rem;
	}

	.portfolio{
		height:72rem;
	}

	#me, #projects{
		color:#ff006a;
	}

	.experience{
		color:orange;
	}
	.skills{
		color:#11a014;
	}
	.goals{
		color:red;
	}
}


@media(min-width:450px){
	body{
		font-size:.9rem;
	}
	nav{
		background-color:#000205;
		height:3rem;
		padding-top:.2rem;
	}

	nav ul li{
		list-style-type: none;
		display: inline;
		margin-left:5px;
	}

	nav ul li a{
		text-decoration: none;
		color:#dcdee2;
		font-size:1.1rem;
	}

	nav ul li a:hover{
		color:#2a965e;
	}

	nav ul{
		padding-left:2rem;
	}

	ul li{
		list-style-type: none;
	}

	.container{
		margin:5px;
		background: #fcfcfc;
	}

	.avatar{
		width:100%;
		height:18rem;
	}

	.avatar_image{
		width:100%;
		height: auto;
	}

	.summary_container{
		width:100%;
		height:7rem;
		padding-top:.8rem;
		font-size:1.2rem;
		text-align: center;
	}

	.summary_container ul{
		padding:0;
		margin-top:1rem;
	}

	#coder_title{
		color:#551f9b;
		font-size:1.6rem;
		font-weight:700;
	}


	.section{
		margin-left:.5rem;
	}

.about{
	width:100%;
	height:13rem;
	background-image:url("https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
	background-size: cover;
	background-position: center; 
}

.about_content{
	width:100%;
	height:24rem;
}

ul{
	padding: 0 .5rem;
}

.portfolio{
	width:100%;
	height:80rem;
}


.project{
	width:100%;
	height:14rem;
	background-position: center;
	background-size:cover; 
}

.project_img1{
	background-image:url("../images/movie.png");
}


.project_img2{
	background-image:url("../images/book_exchange.png");
	background-position: top;
}

.project_img3{
	background-image:url("../images/memory_game.png") 
}

#resume{
	color:blue;
}

.myskills{
	width:100%;
	height:12rem;
}

.tools{
	padding-top:1rem;
	font-style: italic;
}

footer{
	width:100%;
	height:3rem;
}

footer nav ul li, footer nav ul li a{
	color:grey;
	font-size:1.2rem;
}
}

@media(min-width:600px){
	body{
		font-size:1rem;
	}
	nav{
		background-color:#000205;
		height:3rem;
		padding-top:.2rem;
		text-align: right;
	}

	nav ul li{
		list-style-type: none;
		display: inline;
		margin-left:5px;
	}

	nav ul li a{
		text-decoration: none;
		color:#dcdee2;
		font-size:1.4rem;
	}

	nav ul li a:hover{
		color:#2a965e;
	}

	nav ul{
		padding-left:2rem;
	}

	ul li{
		list-style-type: none;
	}

	.container{
		margin:5px;
		background: #fcfcfc;
	}

	.avatar{
		width:100%;
		height:24rem;
	}

	.avatar_image{
		width:100%;
		height: auto;
	}

	.summary_container{
		width:100%;
		height:7rem;
		padding-top:.8rem;
		font-size:1.2rem;
		text-align: center;
	}

	.summary_container ul{
		padding:0 1rem;
		margin-top:1rem;
	}

	#coder_title{
		color:#551f9b;
		font-size:1.9rem;
		font-weight:700;
		padding-bottom:.5rem;
	}


	.section{
		margin-left:.5rem;
	}

	.about{
		width:100%;
		height:13rem;
		background-image:url("https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
		background-size: cover;
		background-position: center; 
	}

	.about_content{
		width:100%;
		height:24rem;
	}

	ul{
		padding: 0 .5rem;
	}

	.portfolio{
		width:100%;
		height:100rem;
	}

	.project{
		width:100%;
		height:20rem;
		background-position: center;
		background-size:cover; 
	}

	.project_img1{
		background-image:url("../images/movie.png");
	}

	.project_img2{
		background-image:url("../images/book_exchange.png");
		background-position: top;
	}

	.project_img3{
		background-image:url("../images/memory_game.png") 
	}

	#resume{
		color:blue;
	}

	.myskills{
		width:100%;
		height:12rem;
	}

	.tools{
		padding-top:1rem;
		font-style: italic;
	}

	footer{
		width:100%;
		height:3rem;
	}

	footer nav ul li, footer nav ul li a{
		color:grey;
		font-size:1.2rem;
	}
}

@media (min-width:900px){
	body{
		font-size:.8rem;
	}
	nav{
		background-color:#000205;
		height:3.5rem;
		padding-top:.2rem;
		text-align: right;
	}

	nav ul li{
		list-style-type: none;
		display: inline;
		margin-left:20px;
	}

	nav ul li a{
		text-decoration: none;
		color:#dcdee2;
		font-size:1.4rem;
	}

	nav ul li a:hover{
		color:#2a965e;
	}

	nav ul{
		padding-left:2rem;
	}

	ul li{
		list-style-type: none;
	}

	.container{
		margin:0;
		background: #fcfcfc;
		padding:.5rem;
	}

	.avatar{
		width:60%;
		height:20rem;
		float:left;
	}

	.avatar_image{
		width:100%;
		height: auto;
	}

	.summary_container{
		width:35%;
		height:20rem;
		padding-top:4rem;
		font-size:1.5rem;
		text-align: center;
		float:left;
		margin-left:1rem;
	}

	.summary_container:after{
		content:"";
		clear:both;
	}

	.summary_container ul{
		padding:0 1rem;
		margin-top:1rem;
	}

	#coder_title{
		color:#551f9b;
		font-size:2rem;
		font-weight:700;
		padding-bottom:.5rem;
	}


	.section{
		margin-left:.5rem;
		clear:both;
	}

	.about{
		width:40%;
		height:13rem;
		background-image:url("https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
		background-size: cover;
		background-position: center; 
	}

	.about_content{
		width:100%;
		height:20rem;
	}

	ul{
		padding: 0 .5rem;
	}

	.portfolio{
		width:100%;
		height:71rem;
	}

	.project{
		width:50%;
		height:20rem;
		background-position: center;
		background-size:cover;
		float:left; 
	}

	.project_img1{
		background-image:url("../images/movie.png");
	}

	.project_img2{
		background-image:url("../images/book_exchange.png");
		background-position: top;
	}

	.project_img3{
		background-image:url("../images/memory_game.png") 
	}

	.description{
		float:left;
		width:35%;
		padding-top:2rem;
	}

	#resume{
		color:blue;
	}

	.myskills{
		width:100%;
		height:12rem;
	}

	.tools{
		padding-top:1rem;
		font-style: italic;
	}

	footer{
		width:100%;
		height:3rem;
	}

	footer nav ul li, footer nav ul li a{
		color:grey;
		font-size:1.2rem;
	}
}

@media(min-width:1200px){
	body{
		font-size:1rem;
		background-color: white;
	}

	nav{
		background:#2c3531;
		height:3rem;
		text-align: right;
		width:100%;
		margin-bottom:5rem;
	}

	nav ul{
		margin:.4rem 0;
		padding-right:1rem;
	}

	nav ul li{
		margin-left:20px;
	}

	nav ul li a{
		font-size:1.3rem;
	}

	.container{
		background-color:white;
		padding:0 13rem;
	}

	.avatar{
		width:60%;
		height:26rem;
		float:left;
		margin-bottom: 2rem;
	}

	.avatar_image{
		width:100%;
		height: auto;
	}

	.summary_container{
		width:35%;
		height:20rem;
		padding-top:4rem;
		font-size:1.5rem;
		text-align: center;
		float:left;
		margin-left:1rem;
	}


	#coder_title{
		font-size:3rem;
		font-weight:700;
		padding-bottom:.5rem;
	}


	.section{
		margin:0 0 1rem;
		clear:both;
	}

	.about{
		width:45%;
		height:25rem;
		margin-top:4rem;
		float:left;
		margin-bottom: 5rem;
	}

	.about_content{
		width:50%;
		height:25rem;
		float:left;
		padding-left:2rem;
		line-height: 25px; 
	}

	.about_content ul h3{
		text-align: center;
	}

	.portfolio{
		height:110rem;
	}

	.description{
		width:35%;
		padding-top:0;
		padding-left:2rem;
		line-height: 25px;
		margin-top:0;
	}

	.project{
		margin-bottom:3rem;
	}

	.myskills{
		height:17rem;
		line-height: 25px;
	}
	footer nav{
		text-align: center;
	}
	footer nav ul li, footer nav ul li a{
		font-size:1.3rem;
	}

	.portfolio{
		margin-right:27rem;
	}

	.project_btn{
		background-color:blue;
		width:110px; 
		padding:.7rem;
	}
	.project_btn a{
		text-decoration-line:none;
		color:white; 
		font-size: 1.2rem;
	}
}






